snippet class "Class with init" i
class $1:
	def __init__(self$2):
		$3
endsnippet

snippet init "__init__" i
def __init__(self$1):
	$2
endsnippet

snippet main "if __name__ == '__main__':" i
if __name__ == '__main__':
	$1
endsnippet

snippet super "super().__init__()" i
super().__init__($1)
endsnippet
